

.mat-table{
  width: 70%;
  margin: auto;
  text-align:center;
  justify-content: center;
}

.mat-header-cell {
justify-content:center;
text-align:center;
align-items: center;
 }

 .mat-row{
  justify-content:center;
text-align:center;
 }

 .mat-cell{
  justify-content: center;
  text-align: center;
  align-items: center;
 }

 .mat-sort-header {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.my-card{
  text-align:center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom: 20px;
  width:25%;
}
